.time {
  text-align: center;
  margin: 0;
  color: white;
  margin-bottom: 1rem;
}
.time h1 {
  font-size: 5vw;
  margin: 0;
}
.time h2 {
  margin: 0;
  font-weight: normal;
}

.overview-body {
  margin-top: 3rem;
  color: white;
  text-align: center;
}
.overview-body h2 {
  font-weight: normal;
}
.edit {
  text-align: center;
  margin-top: 10px;
}

.label-margin {
  margin-bottom: 5px;
  /* padding: 5px; */
}

input {
  border: none;
  padding: 1rem 0;
  width: 100%;
  margin: 1rem 0;
  font-size: 2rem;
}
