.time {
  text-align: center;
  margin: 0;
  color: white;
  margin-bottom: 1rem;
}
.time h1 {
  font-size: 5vw;
  margin: 0;
}
.time h2 {
  margin: 0;
  font-weight: normal;
}

.overview-body {
  margin-top: 3rem;
  color: white;
  text-align: center;
}

.list-horizontal {
  display: inline;
  text-align: left;
  width: 100%;
}

.overview-body h2 {
  font-weight: normal;
}
